#{extends 'main.html' /}
#{set title:'Home' /}

<meta charset="utf-8"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href='../../../public/stylesheets/index.css'>


<div class="center">
    <div class="content">
        <div class="title">
            <h1>Sistema de refeições</h1>
        </div>
        <div class="content_link">
            <div class="link">
                <a class="login" href="@{Login.login}">Entrar</a>
            </div>
            <div class="link">
                <a class="agendar" href="@{Alunos.agendamentoRefeicao}">Agendar Refeição</a>
            </div>
        </div>
    </div>
</div>


